@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
      background-image: url('../public/aaabstract.webp');
      background-repeat:repeat-y;
      background-position:top;
      background-size:contain;
}
.dots {
  width: 3.2px;
  height: 3.2px;
  margin-left: 22px;
  margin-top: 15px;
  border-radius: 50%;
  color: #181818;
  box-shadow: 15.2px 0 0 5.6px, 30.4px 0 0 2.4px, 45.599999999999994px 0 0 0;
  transform: translateX(-30.4px);
  animation: dots-ijr34dsm 0.4s infinite alternate linear;
}

@keyframes dots-ijr34dsm {
  50% {
    box-shadow: 15.2px 0 0 2.4px, 30.4px 0 0 5.6px, 45.599999999999994px 0 0 2.4px;
  }

  100% {
    box-shadow: 15.2px 0 0 0, 30.4px 0 0 2.4px, 45.599999999999994px 0 0 5.6px;
  }
}